body {
  font-size: 16px;
  overflow-x: hidden;
}

@media only screen and (min-width: 940px) {
  .workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.control-pane {
  margin: 1em 1.5em 0;
  font-size: 0.8rem;
}

@media only screen and (min-width: 940px) {
  .control-pane {
    width: 250px;
    margin: 0;
    margin-right: 0;
    padding-top: 25px; /* match top of script page edge */
  }
}

@media only screen and (min-width: 1200px) {
  .control-pane {
    width: 280px;
    margin: 0;
    margin-right: 2em;
    font-size: 1rem;
  }
}

.script-pane {
  overflow-x: auto;
}

@media only screen and (min-width: 940px) {
  .script-pane {
    min-width: 650px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 3em;
  margin: 0 25px 3em;
}

@media only screen and (min-width: 940px) {
  footer {
    margin: 0 25px 3em;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    margin: 0 0 3em;
  }
}

footer span {
  margin-right: 1em;
  font-size: 0.75rem;
  color: #777;
}

footer img {
  width: 96px;
  height: auto;
}

@media only print {
  .control-pane {
    display: none;
  }

  footer {
    display: none;
  }
}
