.workspace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.control-pane {
  width: 350px;
  overflow-y: auto;
}

.script-pane {
  min-width: 650px;
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
