body {
  font-size: 16px;
}

.workspace {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-pane {
  width: 300px;
  padding-top: 25px; /* match top of script page edge */
  margin-right: 1em;
}

@media only screen and (max-width: 1200px) {
  .control-pane {
    width: 250px;
    margin-right: 0;
    font-size: 0.8rem;
  }
}

.script-pane {
  min-width: 650px;
  text-align: center;
}
