.controls {
  color: #666;
  position: fixed;
}

.controls h1 {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Courier New', monospace;
}

.properties {
  margin-bottom: 2em;
}

.button {
  appearance: none;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 1em;
  background-color: #4455aa;
  color: white;
  font-size: 1em;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.button:hover {
  background-color: #4d5dad;
}

.button-secondary {
  border: 1px solid #4455aa;
  background-color: transparent;
  color: #666;
}

.button-secondary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.file-status {
  color: #bbb6b7;
  margin-top: 1em;
}

.file-status-good {
  color: #666;
}

.file-status-bad {
  color: red;
}

.file-status-good img,
.file-status-bad img {
  display: inline-block;
  height: 1.5em;
  width: auto;
  vertical-align: bottom;
  margin-bottom: -1px;
  margin-right: 0.25em;
}

.file-status p {
  margin: 0;
}
